<h3 class="text-container">List of Surveys</h3>
<%= link_to "Create New Survey", new_survey_path, class: "btn btn-primary btn-block"%>
<% @surveys.each do |survey| %>
  <h4><%= link_to "#{survey.id}. #{survey.title}", survey_path(survey) %></h4>
  <p><%= survey.description %></p>
<% end %>
